 <!-- footer -->
 <footer class="footer_wrap">
    <div class="inner">
        <button type="button" id="btnTop" class="btn_top" onclick="javascript:winTop();">TOP</button><!-- Top 버튼 -->
        <div class="link_box">
            <ul class="link_list">
                <li><a href="javascript://" class="link">개인정보처리방침</a></li>
                <li><a href="javascript://" class="link">이용약관</a></li>
            </ul>
            <span class="contact">
                <a href="tel:07075227404" class="tel">070-7522-7404</a>
                <span class="logo"><img src="images/logo_seedlearning.png" alt="seedlearning"></span>
            </span>
        </div>
        <div class="info">
            주식회사 씨드러닝(Seed Learning, Inc.)<br>
            7212 Canary Ln., Sachse, TX 750t48 USA<br>
            (13616) 경기도 성남시 분당구 정자일로 1, <span class="mo_br">C동 1813호(금곡동, 코오롱트리폴리스1)</span><br data-device="pc">
            Tel : 070-7522-7404 | Fax 070-8289-7404 | <span class="mo_br">E-mail : <a href="jaylee@seed-learning.com" class="email">jaylee@seed-learning.com</a></span><br data-device="pc">
            사업자 등록번호 : 220-87-33426 | <span class="mo_br">통신판매업신고 : 제2015-경기성남-1064호</span>
            <p class="copy">&copy; Seed-Learning, Inc. All Rights Reserved</p>
        </div>
        <div class="link_box">
            <ul class="link_list">
                <li><a href="company.html" class="link">회사소개</a></li>
                <li><a href="javascript://" class="link">프로그램소개</a></li>
                <li><a href="javascript://" class="link">공지사항</a></li>
                <li><a href="javascript://" class="link">문의하기</a></li>
            </ul>
        </div>
    </div>
</footer>
<!--// footer -->