<footer class="footer_wrap">
    <div class="inner">
        <div class="top">
            <ul class="link_list">
                <li><a href="#" class="link">개인정보처리방침</a></li>
                <li><a href="#" class="link">이용약관</a></li>
            </ul>
            <span class="contact">
                <a href="tel:07075227404" class="tel">070-7522-7404</a>
                <span class="logo"><img src="/images/logo_seedlearning.png" alt=""></span>
            </span>
        </div>
        <div class="info">
            씨드러닝<br>
            sssssss<br>
            (13616) 경기도 성남시 분당구 장자일로 1, C동 1813호(금곡동, 코오롱트리플레스1)<br>
            Tel : 070-7522-7404 | Fax : 070-8289-7404 | E-mail : <a href="mailto:manager@seed-learning.com" class="email">manager@seed-learning.com</a><br>
            사업자 등록번호 : 220-87-33426 | 통신판매업신고 : 제2015-경기성남-1064호
            <p class="copy">&copy; Seed-Learning, Inc. All Rights Reserved</p>
        </div>
        <ul class="link_list">
            <li><a href="#" class="link">개인정보처리방침</a></li>
            <li><a href="#" class="link">이용약관</a></li>
            <li><a href="#" class="link">개인정보처리방침</a></li>
            <li><a href="#" class="link">이용약관</a></li>
        </ul>
    </div>
</footer>