<!-- [include] skipnavi -->
<div data-include-file="/inc/layout/skipnavi.html" class="includeJs"></div>
<!-- //[include] skipnavi -->

<header class="header_wrap">
  <div class="inner">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Chatterbox Kids">
    </a>
    <nav class="nav">
      <ul class="menu_list">
        <li><a href="#" class="menu_link">회사소개</a></li>
        <li><a href="#" class="menu_link">프로그램</a></li>
        <li><a href="#" class="menu_link">공지사항</a></li>
        <li><a href="#" class="menu_link">자료실</a></li>
      </ul>
      <a href="#" class="btn btn_start"><i class="btn_icon"></i> 학습시작</a>
    </nav>
    <div class="btns">
      <!--<a href="#" class="btn btn_join">학부모 회원가입</a>-->
      <button class="menu_toggle" aria-label="메뉴 열기"><span></span></button>
    </div>
  </div>
</header>